/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  /* Colors */

  --bg-primary: hsl(273, 85%, 13%);
  --bg-secondary: hsl(274, 100%, 99%);
  --text-primary: hsl(273, 85%, 13%);
  --text: hsl(0, 0%, 100%);
  --accent-primary: hsl(150, 100%, 63%);
  --accent-secondary: hsl(271, 12%, 34%);

  /* Typography */

  /* Font Family */

  --ff-heading: "Fraunces", serif;
  --ff-body: "Manrope", sans-serif;

  /* Font Size  */
  --fs-heading-l: 8rem;
  --fls-heading-l: 8rem;
  --fs-heading-m: 5.6rem;
  --fls-heading-m: 6.4rem;
  --fs-heading-s: 3.2rem;
  --fls-heading-s: 4rem;
  --fs-text: 1.8rem;
  --fls-text: 3.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-text);
  line-height: var(--fls-text);
}

.flex {
  display: flex;
}

.flex--space {
  justify-content: space-between;
}

.flex--props {
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
}

.flex--direction {
  flex-direction: column;
}

.flex--align {
  align-items: center;
  justify-content: center;
}

.flex--gap {
  gap: 3rem;
}

.grid {
  display: grid;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--align {
  align-items: center;
  justify-items: center;
  text-align: center;
}

.grid--gap {
  gap: 4rem;
}
.container {
  max-width: 111.4rem;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-primary);
  padding-top: 5.8rem;
}

.btn-secondary:link,
.btn-secondary:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text);
  border-bottom: 2px solid var(--accent-primary);
  transition: all 0.3s;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: var(--accent-primary);
}

.heading-primary {
  color: var(--text);
  text-align: center;
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-l);
  padding-top: 6.4rem;
  padding-bottom: 3.7rem;
  line-height: var(--fls-heading-l);
}

.heading-primary > span {
  display: block;
}

.btn-primary:link,
.btn-primary:visited {
  display: inline-block;
  color: var(--bg-primary);
  background-color: var(--accent-primary);
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--accent-primary);
  background-color: var(--bg-primary);
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  box-shadow: inset 0 0 0 2px var(--accent-primary);
}

.section-hero {
  overflow-x: hidden;
  z-index: 1;
  background-color: var(--bg-secondary);
  padding-bottom: 30rem;
  position: relative;
}

.section-hero:before {
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(2.5);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  z-index: -1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-img {
  max-inline-size: 100%;
  block-size: auto;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-45%, 10%);
}

.bg-pattern-1 {
  position: absolute;
  top: 40%;
  left: 50%;
}

.section-features {
  padding-top: 40rem;
  padding-bottom: 17rem;
  z-index: -1;
  overflow: hidden;
  position: relative;
}

.section-features:before {
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(3);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--bg-secondary);
  z-index: -1;
}

.feature-list-number {
  border: 1px solid var(--bg-primary);
  padding: 1rem 2rem;
  border-radius: 50%;
  font-family: var(--ff-heading);
  font-size: 2.4rem;
}

.feature-list {
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  column-gap: 4rem;
  row-gap: 1rem;
}

.feature-list-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-s);
}

.feature-list-text {
  color: var(--bg-primary);
}
